.inp {
    margin-top: 5px;
}

#tracks {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.track {
    width: 910px
}

p {
  font-size: 20px;
  font-weight: bold;
  font-family:monospace ;
}

.genre {
  text-align: center;
}