{% extends 'spotify/base.html' %}
{% load static %}

{% block style %} 
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/album.css' %}"> 
<script src="{% static 'js/album.js' %}"></script>
{% endblock %}

{% block header %}
<h1>Top albums</h1>
{% endblock %}

{% block content %}
    <div class="track">
        <div id="tracks">
            {% for i in tracks %}
                <div class="song">
                    <div class="card" style="width: 15rem;">
                        <img class="card-img-top" src="{{i.image}}" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">{{i.album}}</h5>
                          <p class="card-text">
                            <p>By: {{i.artist}}</p>
                            <p>Released: {{i.release}}</p>
                          </p>
                          <a href="{{i.link}}">Go to album</a>
                        </div>
                      </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
