{% extends 'spotify/base.html' %}
{% load static %}

{% block style %} 
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/artist.css' %}"> 
<script src="{% static 'js/artist.js' %}"></script>
{% endblock %}

{% block header %}
<h1>Top Artists</h1>
{% endblock %}

{% block content %}
    <div class="track">
        <div id="tracks">
            {% for i in artists %}
                <div class="artist">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{i.image}}" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">{{i.name}}</h5>
                          <p class="card-text">
                            <a href="{{i.url}}">Link to artist</a>
                          </p>
                        </div>
                      </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
