{% extends 'spotify/base.html' %}
{% load static %}

{% block style %} 
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/artist.css' %}"> 
<script src="{% static 'js/genre.js' %}"></script>
{% endblock %}


{% block header %}
<h1>Top Genres</h1>
{% endblock %}

{% block content %}
    <div class="track">
        <div class="genres" id="genres">
            {% for i, j in genres %}
                <div class="genre">
                    <p>{{ forloop.counter }}. {{ i }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
