{% extends 'spotify/base.html' %}
{% load static %}

{% block style %} 
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/rec.css' %}"> 
{% endblock %}

{% block header %}
<h1>Recommendations for you</h1>
{% endblock %}

{% block content %}
<br/><p class="h2"> A playlist has been created for you with the following songs. </p><br/>

    <div class="player-container">
        <div class="track">    
            <div id="tracks">
                {% for i in songs %}
                    <div class="track">
                        <p class="h3">{{i.name}}</p>
                        <p>By: {{i.artist}}</p>
                        <p>Album: {{i.album}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
