{% extends 'spotify/base.html' %}
{% load static %}

{% block style %} 
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/track.css' %}"> 
<script src="{% static 'js/recent.js' %}"></script>
{% endblock %}


{% block header %}
<h1>Top songs</h1>
{% endblock %}

{% block content %}
    <div class="track">
        
        <div id="tracks">
            {% for i in tracks %}
                <div class="track">
                    <p class="h3">{{i.name}}</p>
                    <p>By: {{i.artist}}</p>
                    <p>Album: {{i.album}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
