.wrapper .sidebar {
  background: rgb(5, 68, 104);
  top: 0;
  left: 0;
  min-height: 100vh;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.wrapper .sidebar ul li a {
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #10558d;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}

.wrapper .sidebar ul li a .icon {
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
  color: #0c7db1;

  background: white;
  border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
  display: block;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

.wrapper {
  display: flex;
  max-width: 100%;
}

.content {
  margin-left: 40px;
  padding: 20px;
}

body {
  background-image: linear-gradient(to right, #a3ffbd, #42c12d);
}


.play {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100ch;
}

.player {
  width: 700px;
  padding: 20px;
  
}

.track {
  margin-top: 10px;
  width: 910px;
}

.set {
  background-color: #39df40
}

.main {
  display: flex;
}

@media (max-width: 1300px) {
    .main {
      display: block;
    }

    .player-container {
        margin-top: 40px; /* Increase the margin between the recommended songs and the player */
    }
}